@font-face{
    font-family: charter;
    src: url('../fonts/fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: charter;
    src: url('../fonts/fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}

@font-face{
    font-family: charter;
    src: url('../fonts/fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face{
    font-family: charter;
    src: url('../fonts/fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: bold;
}

:root {
    font-size: 16px;
    background: #ffffff;    
    --colorgray30: #212121;
    --colorgray20: #212429;
    --colorgray15: #424242;
    --colorgray10: #616161;
}

body {
    color: var(--colorgray30);
    font-family: 'Roboto', sans-serif;
    /*font-family: charter; Forma de llamar a la fuente con font-face*/
    /*font-family: Arial; Forma de llamar una fuente que si esta en todos los sistemas*/   
    margin: 0;
}

a {
    color: var(--colorgray30); 
}

header {
    background: rgba(82, 148, 160, 0.692);
    width: 80vw;
    font-size: 14px;
}

header a {
    --colorgray10: #202040;
    color:var(--colorgray10);
    text-decoration: none;
}

header a:hover{
    color: var(--colorgray30);
}

nav details summary{
    font-weight: bold;
}

/*h1+p {
    margin-bottom: 64px;
}*/

hr {
    margin: 64px;
}
h1 {
    font-size: 60px;
    /*margin: top right bottom left;*/
    margin: 64px 54px 16px 0px;
}

h2 {
    font-size: 2em;
    margin:  64px 0px 40px;
    font-weight: normal;
}

h3 {
    font-size: 1.5em;
    margin: 16px 0 24px;
    font-weight: normal;
}

pre {
   background: #FEC62E; 
   width: 110vw;
   padding: 40px;
   font-family: 'Roboto';
}

blockquote {
    font-size: 24px;
    margin: 32px 0;
    padding-left: 16px;
    line-height: 24px;
    /*border: 1px solid goldenrod;*/
    /*border-radius: 50px 100px 10px 0px;*/
    border-left: 4px solid var(--colorgray30);
}

blockquote span{
    color: var(--colorgray10);
}

blockquote span::before{
    content: '-';
}

/*Depurar
.debug{
    box-shadow: 0 0 0 1px orange; por fuera
    box-shadow: inset 0 0 0 1px orange; por dentro
    outline: 1px solid orange;
}*/

.hero {
    background-image: linear-gradient(to top, rgba(255,255,255, 0.35), transparent), url('../images/patron-1.png');
    /*background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;*/
    height: 350px;
}

.section-content:first-of-type{
    margin: 0px;
}

.section-content{
    margin-top: 164px;
}

.section-content ol li{
    line-height: 24px;
}

.section-content ul li{
    margin-bottom: 16px;
}

.section-content + hr{
    display: none;
}

.section-content img{
    margin-top: 40px;
}

.section-content {
    counter-reset: titleList;
}

.section-content h3{
    counter-increment: titleList;
    padding-bottom: 4px;
}

.section-content h3::before{
    content: counter(titleList)". ";
}

.section-content h3::after{
    content: '';
    width: 80px;
    height: 4px;
    background: var(--colorgray15);
    display: block;
}

::selection{
    background: #FEC62E;
}