@font-face{
    font-family: charter;
    src: url('../fonts/fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: charter;
    src: url('../fonts/fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}

@font-face{
    font-family: charter;
    src: url('../fonts/fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face{
    font-family: charter;
    src: url('../fonts/fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: bold;
}

:root {
    font-size: 16px;
    background: var(--color10);    
    --colorwhite30: #ffffff;
    --colorgray20: #3A3539;
    --color15: #A5A3A5;
    --color10: #251F24;
    --color5: #616161;
}

body {
    color: var(--colorwhite30);
    font-family: 'Nunito', sans-serif;
    background: var(--color10);
    /*font-family: charter; Forma de llamar a la fuente con font-face*/
    /*font-family: Arial; Forma de llamar una fuente que si esta en todos los sistemas*/
    margin: 0;   
}

a {
    color: var(--colorwhite30); 
}

header {
    /*background: rgba(82, 148, 160, 0.692);*/
    /*width: 80vw;*/
    font-size: 14px;
    color: var(--colorwhite30);
    /*position: absolute;*/
    margin-block-start: 20px;
    /*top: ; inset-block-start: ;
    bottom: ; inset-block-end: ;
    left: ; inset-block-start: ;
    right: ; inset-inline-end: ;*/
    /*inset-block-start: 0;
    inset-inline-start: -208px;
    inline-size: 188px;*/
}

header a, li {
    --colorgray10: #202040;
    color: var(--color15);
    text-decoration: none;
}

header li {
    margin-block-end: 16px;
}

header a:hover{
    color: var(--colorwhite30);
}

nav details summary{
    font-weight: bold;
}

/*h1, h2, h3 {
    font-weight: normal;
}*/

h1 {
    font-size: 40px;
    text-align: start; /*end: rigth, start: left, justify: justificado*/
    margin-block-start: 20px;
    margin-block-end: 16px;
}

h2 {
    font-size: 2em;
    margin-block: 40px;
    font-weight: 600;
}

h3 {
    font-size: 1.5em;
    margin-block: 16px;
}

hr {
    margin-block: 40px;
    border-color: var(--color5);
}

pre, blockquote {
   background: var(--colorgray20); 
   /*width: 80vw;*/
}

p {
    color: var(--color15);
}

blockquote {
    margin-block-start: 80px;
    margin-block-end: 63px;
    border-radius: 8px;
    /*padding: 24px;*/
    padding-inline-end: 24px;
    padding-block-start: 24px;
    padding-inline-start: 24px;
    padding-block-end: 24px;
    line-height: 32px;
    font-size: 24px;
}

blockquote p {
    color: var(--colorwhite30);
}

pre {
    padding: 40px;
    overflow: auto;
    border-radius: 8px;
    /*border-block-end: 5px solid blue;
    border-inline-start: 20px solid green; 
    border-radius: 50%;
    inline-size: 400px;
    block-size: 400px;
    border-start-start-radius: 50px;*/
    border: 10px solid #5551FF;
    box-shadow: -10px 10px 0 0 #ABAAF6;
}

.hero {
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
    /*background-image: linear-gradient(to top, rgba(255,255,255, 0.35), transparent), url('../images/patron-1.png');*/
    /*background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;*/
    block-size: 50px;
}

.header {
    /*position: sticky;
    inset-block-start: -45px;*/
    /*position: fixed;
    inset: 50px; hace un cuadrado que se ve sobre la página*/
    /*position: fixed;
    inset-inline: 50px;
    block-size: 500px; estas dos propiedades hacen un rectangulo horizontal*/
    /*position: fixed;
    inset-block: 50px;
    inline-size: 500px; estas dos hacen un rectangulo vertical*/
}

.header-content {
    padding-inline: 20px;
    /*position: relative;
    inset-block-start: 65px;*/
}

.section-content img {
    margin-block-start: 40px;
    display: block;
    max-inline-size: 100%;
}

.section-content {
    counter-reset: titleList;
}

.section-content h3{
    counter-increment: titleList;
}

.section-content h3::before{
    content: counter(titleList)".";
}

/*.section-content h3::after{
    content: '';
    width: 80px;
    height: 4px;
    background: var(--colorgray15);
    display: block;
}*/

::selection{
    background: moccasin;
}

.main hr{
    display: none;
}

.wrapper {
    max-inline-size: 902px;
    margin: auto;
}

.main-content {
    padding-inline: 16px;    
}

.slider {
    /*border: 1px solid red;*/
}

.slider-container {
    /*block-size: 100px;*/
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
}

.video {
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.slider-bullet-list {
    text-align: center;
    margin-block-start: 10px;
}

.slider-bullet {
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background: var(--colorwhite30);
    border-radius: 50%;
}

.form input{
    inline-size: 100%;
    border: 1px solid var(--colorwhite30);
    background: var(--color10);
    box-sizing: border-box;  
    border-radius: 8px;
    padding-inline: 16px;
    padding-block: 12px;
    color: var(--colorwhite30);
    font-size: 16px;
    display: block;
    margin-block-end: 24px;
}

.form input[type="submit"] {
    background: #157EFB;
    border: none;
    /*necesita aunque funcione realmente*/
}

.form ::-webkit-input-placeholder {
    color: var(--colorwhite30);
}

@media screen and (min-width: 1366px) {
    .hero {
        block-size: 350px;
    }

    .header {
        position: sticky;
        inset-block-start: -45px;
    }

    .header-content {
        position: relative;
        inset-block-start: 65px;
        padding: 0;
    }

    header {
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: -208px;
        inline-size: 188px;
    }

    h1 {
        font-size: 60px;
        margin-block-start: 64px;
    }
}





